@import "../../../scss/common.scss";

.services {
  margin-top: 80px;
  .container {
    padding: 3rem;
    display: flex;

    .grid-wrapper,
    .services-content {
      flex-basis: 50%;
    }
    .grid-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, auto));
      gap: 2em; //网格间距
      padding: 2rem;
    }
    .gird-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 5px;
      padding: 2rem;
      height: 200px;
      // 水平阴影 垂直阴影 模糊距离 阴影颜色
      box-shadow: 2px 2px 5px rgba(#000, 0.4);
      img {
        width: 80px;
        height: 80px;
        animation: scaleup 6s ease-in-out infinite;
      }
      h1 {
        color: whitesmoke;
        font-weight: 600;
      }
    }
    .mobileapp {
      @include --gradient-1();
      margin-top: 30px;
    }
    .webdesign {
      @include --gradient-2();
    }
    .marketing {
      @include --gradient-3();
      margin-top: 30px;
    }
    .baranding {
      @include --gradient-4();
    }
  }
  .services-content {
    position: relative;
    padding: 3rem;
    margin-bottom: 30px;
    padding-right: 6rem;
    .h1 {
      font-size: 6vmin;
    }
  }
  .circle-img {
    position: absolute;
    top: -20%;
    left: 0%;
    width: 600px;
    z-index: -1;
    animation: scaleup 6s ease-in-out infinite;
  }

  @keyframes scaleup {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .numbers {
    margin-top: 100px;
  }
  .mockup-img {
    flex-basis: 50%;
    img {
      max-width: 100%;
      margin: auto 20px;
    }
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
  }
  .numbers-title {
    font-size: 40px;
    padding-left: 5rem;
    padding-right: 50%;
  }
  .numbers-p {
    padding-left: 5rem;
    padding-right: 70%;
  }
  .numbers-h1 {
    font-size: 40px
  }
  .number-box {
    transition: transform 0.7s ease-in-out;
  }
  .number-box:hover {
    transform: translateY(-30px);
  }
  .hpyclinets {
    @include --gradient-1();
  }
  .prjcompleted {
    @include --gradient-2();
  }
  .runninggprj {
    @include --gradient-3();
  }
  .designs {
    @include --gradient-4();
  }
  h2 {
    color: whitesmoke;
    font-weight: 400;
    margin-top: 30px;
    font-size: 20px;
  }

}
